{% extends "base.html" %} {% block title %}Main Page{% endblock %} {% block
content %}
{% if config_found == False %}
<script>
    window.addEventListener("load", function () {
        window.location.replace(`${SERVER_URL}/noconfig`)
    });
</script>
{% endif %}

<h2>About the DRED Note-Taking System</h2>

<div>
    <p class="lead">
        The dred note-taking program uses a subset of Markdown with custom
        metadata to provide a simple system for the storing of text file based
        notes.
    </p>
</div>
<div>
    Technologies used:
    <ul class="list-group">
        <li class="list-group-item"><a href="https://www.python.org" target="_blank">Python</a></li>
        <li class="list-group-item"><a href="https://github.com/pydantic/pydantic" target="_blank">pydantic</a></li>
        <li class="list-group-item"><a href="https://palletsprojects.com/p/jinja/" target="_blank">jinja2</a></li>
        <li class="list-group-item"><a href="https://github.com/theskumar/python-dotenv"
                                       target="_blank">python-dotenv</a></li>
        <li class="list-group-item"><a href="https://www.sqlite.org/index.html" target="_blank">SQLite3</a></li>
        <li class="list-group-item"><a href="https://bottlepy.org/docs/0.12/" target="_blank">bottle</a></li>
        <li class="list-group-item"><a href="https://jquery.com" target="_blank">jQuery</a></li>
        <li class="list-group-item"><a href="https://https://getbootstrap.com/docs/4.6/getting-started/introduction/"
                                       target="_blank">Bootstrap 4</a></li>
    </ul>
</div>
{%  endblock %}