{# provides a way to display notes without editing them #} {# expects the
following variables to be set: #} {# config_found, filename, note_body #} {%
extends "base.html" %} {% block title %}Note Editor{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %} {% if config_found == False
%}
<script>
  window.addEventListener("load", function () {
    window.location.replace(`${SERVER_URL}/noconfig`);
  });
</script>
{% endif %}

<h2 style="font-size: small">{{filename}} - READ ONLY</h2>
<div
  id="container"
  style="width: 800px; height: 600px; border: 1px solid grey"
  on
></div>
<div id="links-display"></div>
{% endblock %} {% block scripts %} {{ super() }}
<script src="/static/js/loader.js"></script>
<script src="/static/js/editor.main.nls.js"></script>
<script src="/static/js/editor.main.js"></script>
<script src="/static/js/monaco-markdown.js"></script>
<script type="application/javascript">
  let noteBody = "" + `{{note_body}}`;
</script>

<script src="/static/js/display.js" type="application/javascript"></script>

{% endblock %}
