{% extends "base.html" %} {% block title %}Note Editor{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %} {% if config_found ==
False %}
<script>
  window.addEventListener("load", function () {
    window.location.replace(`${SERVER_URL}/noconfig`);
  });
</script>
{% endif %}
<h2 id="pageTitle">Monaco Markdown</h2>
<div
  id="container"
  style="width: 800px; height: 600px; border: 1px solid grey"
  on
></div>

<div id="links-display"></div>
{% endblock %} {% block scripts %} {{ super() }}
<script src="/static/js/loader.js"></script>
<script src="/static/js/editor.main.nls.js"></script>
<script src="/static/js/editor.main.js"></script>
<script src="/static/js/monaco-markdown.js"></script>
<script src="/static/js/noted/display.js"></script>
<script type="application/javascript">
  // need to make editor a global for use by callbacks
  const editor = create_editor("container");

  // store the file on the disk
  const doStore = function () {
    // no need to store if this a readonly file
    if (window.READ_ONLY) {
      return;
    }
    let text = editor.getValue();
    let data = {
      text: text,
      filename: window.sessionStorage.getItem("filename"),
    };
    console.log(data);
    $.post(`${SERVER_URL}/api/store/`, data, function (data) {
      console.log("Received store" + data);
      let result = String(data.result);
      if (!result.startsWith("success")) {
        alert(result);
      } else {
        console.log("successfully stored " + text.length);
      }
    });
  };

  // manage the state of the editor's text
  const update_text = (evt) => {
    let changed = String(evt.changes[0].text);
    let current_text = editor.getValue();
    let deleted =
      current_text.length < window.sessionStorage.getItem("editor_text").length;
    window.sessionStorage.setItem("editor_text", current_text);
    let title = document.getElementById("pageTitle");
    if (changed.startsWith("\n") || deleted) {
      doStore();
      let newTitle = window.sessionStorage.getItem("filename");
      console.log("new title:" + newTitle);
      title.innerHTML = `<span style="font-size:small">${newTitle}</style>`;
    } else {
      let newTitle = window.sessionStorage.getItem("filename") + " *";
      console.log("new title:" + newTitle);
      title.innerHTML = `<span style="font-size:small">${newTitle}</style>`;
    }
  };

  // save when a new line is entered
  editor.getModel().onDidChangeContent(function (evt) {
    update_text(evt);
    // console.log(JSON.stringify(evt.changes[0].text, null, "\t"));
  });

  // make sure to save before leaving the page
  $(window).bind("beforeunload", function () {
    doStore();
    window.sessionStorage.removeItem("editor_text");
  });

  // create a link based on the filename
  const createNoteLink = function (filename) {
    // return `<a  href='${SERVER_URL}/editor?filename=${filename}'>${filename}</a>`;
    return `<a  href='#' onclick=displayNote(${filename})>${filename}</a>`;
  };

  const doFindNotes = function (stem) {
    // call server to find the notes in the database that match the stem

    data = { search_string: stem };
    $.post(`${SERVER_URL}/api/findFilesInDatabase/`, data, function (data) {
      let e = document.getElementById("links-display");
      console.log(`Received: ${data}`);
      console.log(typeof data);
      keys = Object.keys(data);
      console.log(`${typeof keys} ${keys.length}`);
      let lines = [`<div><br/>Found ${keys.length} notes<br/>`];
      lines.push("<ul class='list-group'>");
      for (let i = 0; i < keys.length; i++) {
        console.log(String(data[keys[i]]).trim());
        let link = createNoteLink(String(data[keys[i]]).trim());
        lines.push(`<li class="list-group-item">${link}</li>`);
      }
      lines.push("</ul></di>");

      e.innerHTML = lines.join("\n");
      // window.sessionStorage.setItem("last_search", lines.join("\n"));
      closeNewNoteFormDiv();
    });
    // window.location.href = `${SERVER_URL}/editor?filename=${filename}`
  };

  // open a new window showing the new file
  const displayNote = (filename) => {
    alert("about to open: " + filename + " in a new window");
  };

  // display links to files in the database with names that start like the prefix of filename
  const displayLinks = () => {
    let filepath = window.sessionStorage.getItem("filename");
    // const filename_re = /^(.*[\/\\])*([a-zA-Z]+)(\-\d+)*\.md/;
    const filename_re = /^(.*[\/\\])*([a-zA-Z]+)(\-\d+)*/;
    let items = filepath.match(filename_re);

    // stem_re = /^(.+)[\-\.]/gm;
    stem = items[2];
    alert("displayLinks stem: " + stem);
  };

  const handleLink = (e) => {
    alert(`link: ${e}`);
  };

  document.addEventListener("DOMContentLoaded", function () {
    window.sessionStorage.setItem("editor_text", "");
    let filename = GetURLParameter("filename");
    let title = document.getElementById("pageTitle");
    $.post(
      `${SERVER_URL}/api/fullPath/`,
      { filename: filename },
      function (data) {
        filename = String(data.path);
        console.log("get full path: " + filename);
      }
    );
    data = { filename: filename };
    console.log("about to load: " + filename);
    $.post(`${SERVER_URL}/api/get/`, data, function (data) {
      let text = String(data.text);
      if (text.startsWith("ERROR")) {
        console.log("server reports an error while loading: " + filename);
        window.sessionStorage.setItem("filename", "");
        title.innerHTML = `<span style="font-size:small; color:red">Unable to find ${filename}</span>`;
        editor.updateOptions({ readOnly: true });
      } else {
        console.log(
          "successfully loaded " +
            filename +
            " (" +
            String(data.text).length +
            ")"
        );
        display_note(editor, String(data.text), false);
        title.innerHTML = `<span style="font-size:small">${filename}</style>`;
        window.sessionStorage.setItem("filename", filename);
      }
    });
    console.log("completed event listener");
  });
</script>
{% endblock %}
