# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

.idea/modules.xml
.idea/noted.iml
/.idea/vcs.xml
# node
node_modules/

# python
.mypy_cache
__pycache__/
noted/__pycache__/
venv/
.pytest_cache/
go_templates/
*.pyc
__pycache__/*.pyc
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
noted/__pycache__/database.cpython-310.pyc
noted.egg-info/

.idea/
/noted/test_noted.db
/noted/noted.egg-info
/tests/mock.sqbpro
/tests/.pytest_cache

/target
/dist 
/build 

.DS_Store
*.DS_Store