{{ template "base" "Shutdown" }}
<div id="content" class="container">
    <h2>Shutting Down</h2>

    <div>
        <p class="lead">
            The server is shutting down.
        </p>
        <p>
            Goodbye!
        </p>
    </div>
</div>
{{ template "footer" }}
